@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    background-color: #f0f2f5;
}

.container {
    display: flex;
    height: 100vh;
}

.search-panel {
    width: 30%;
    padding: 20px;
    background-color: white;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

h1 {
    margin-top: 0;
    color: #2c3e50;
    font-size: 24px;
}

.search-box {
    display: flex;
    margin-bottom: 20px;
}

#searchInput {
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px 0 0 4px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2980b9;
}

.sort-controls {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.sort-controls label {
    margin-right: 10px;
}

#sortBy {
    padding: 5px;
    margin-right: 10px;
}

#sortOrder {
    padding: 5px 10px;
}

.content-viewer {
    width: 70%;
    height: 100%;
    background-color: #ecf0f1;
   /* display: flex;*/
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}

#pdfPlaceholder {
    text-align: center;
    color: #7f8c8d;
}

#pdfPlaceholder i {
    font-size: 48px;
    margin-bottom: 10px;
}

/*
#interviewDetails {
    width: 100%;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
*/
.result-item {
    padding: 15px;
    background-color: white;
    border-radius: 4px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: box-shadow 0.3s, transform 0.3s;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.result-item:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transform: translateY(-2px);
}

.result-item h3 {
    margin-top: 0;
    color: #2c3e50;
}

.result-item p {
    margin: 5px 0;
    color: #34495e;
}

.company {
    font-weight: bold;
    color: #16a085;
}

.date {
    font-style: italic;
    color: #7f8c8d;
}

.topics {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.topic {
    background-color: #3498db;
    color: white;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 12px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    padding-top: 20px;
}

#pageInfo {
    font-size: 14px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    .search-panel, .content-viewer {
        width: 100%;
    }
    .content-viewer {
        height: 50vh;
    }
}
